extends layout

block content
  h1= title
  p
    | Welcome to #{title}. We're currently under heavy development. Drop us a line at hey@payload.pk

  p
    | Request an 
    a(href="http://goo.gl/forms/1JKUXnyiWO") invite.
    
  p 
    a(href="https://facebook.com/payloadpk") Facebook
    |  | 
    a(href="https://twitter.com/payloadpk") Twitter
    |  | 
    a(href="https://github.com/payloadpk") Github
