<% include includes/header.ejs %>
<style>
  body {
    background: #47b6d4;
    color: white;
    position: absolute;
    top: 50%;
    margin-top: -200px;
    /* half of #content height*/
    left: 0;
    width: 100%;
  }
  /* unvisited link */
  a:link {
    color: #8de7ff;
  }

  /* visited link */
  a:visited {
    color: #8de7ff;
  }

  /* mouse over link */
  a:hover {
    color: #8de7ff;
  }

  /* selected link */
  a:active {
    color: #8de7ff;
  }

  @media (min-width: 970px) {
    .section-left {
      border-right: 4px solid;
      border-color: white;
    }
    .section-right {
      margin-top: 15px;
    }
    hr.appearing {
      display: none;
    }
  }
  hr {
    border: 2px solid;
    border-color: white;
  }

  .section-left img {
    width: 36px;
    margin-top: 5px;
  }

  .section-right img {
    margin-bottom: 15px;
  }

  .content-stuff {
    margin-left: auto;
    margin-right: auto;
  }
</style>
<div class="container">
  <div class="content-stuff">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="row section-left">
              <div class="col-md-12">
                <h3>
                  Hi There!
                </h3>
                <p>
                  We're under construction at the moment
                  <br>
                    but we'll be up and running soon!
                  </p>
                  <hr>
                    <h3>
                      Till Then:
                    </h3>
                    <p>
                      Keep up to date with our progress
                      <br>
                        <a href="https://facebook.com/payloadpk"><img alt="facebook" src="/img/fb.png"/></a>
                        &nbsp;
                        <a href="https://twitter.com/payloadpk"><img alt="twitter" src="/img/twitter.png"/></a>
                      </p>
                      <p>
                        Learn about Bitcoin on this really cool site:
                        <br>
                          <a href="https://www.weusecoins.com/">weusecoins.com</a>
                        </p>
                        <p>
                          Ask us a question, or three!
                          <br>
                            <a href="mailto:hey@payload.pk">hey@payload.pk</a>
                          </p>
                          <hr class="appearing">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row section-right">
                        <div class="col-md-12">
                          <img alt="Payload" src="/img/logo-white-sm.png"/>
                          <p>
                            Payload uses the already awesome technology of Bitcoin: a virtual currency that
                            makes your life easier.
                          </p>
                          <p>
                            Our mission is to help you make free instant and safe transactions through the
                            power of Bitcoin. Payload helps you buy, sell, and transfer Bitcoin.
                          </p>
                          <p>
                            With a Payload account, you can tap into the bitcoin network and transfer money
														anywhere around in the world, for free!
                          </p>
                          <p>
                            Pre-register to be part of our
                            <a href="http://goo.gl/forms/1JKUXnyiWO">Private Beta.</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <% include includes/footer.ejs %>
